<!-- =========================================
     GOOD TO KNOW / CAROUSEL
========================================== -->

<!-- =========================================
     GOOD TO KNOW / CAROUSEL
========================================== -->
<div class=" carousel-narrow-header">
    
      <h2 class="title-md"> Georgian Cusine</h2>
    
    <p class="text-md">Find neighborhoods, experiences and places worth
      discovering during your stay.</p>
  </div>

   

<section class="tv-carousel-section tv-narrow-food">




  <div class="tv-carousel">

    <!-- CARD 01 -->

    <article class="tv-carousel-card">

    

        <div class="tv-carousel-image">
          <img
            src="/img/food/1.png"
            alt="Abanotubani sulphur baths"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
         Khachapuri
          </span>
<span class="tv-carousel-description">
       Khachapuri is a traditional Georgian bread filled with melted cheese.
          </span>
   

        </div>

     

    </article>


    <!-- CARD 02 -->

    <article class="tv-carousel-card">

    

        <div class="tv-carousel-image">
          <img
              src="/img/food/2.png"
            alt="Sololaki architecture in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Kharcho
          </span>

          <span class="tv-carousel-description">
    
     Kharcho is a traditional Georgian soup made with beef, rice, walnuts, and aromatic spices.

          </span>

        </div>

   

    </article>


    <!-- CARD 03 -->

    <article class="tv-carousel-card">

  

        <div class="tv-carousel-image">
          <img
             src="/img/food/3.png"
            alt="Fabrika Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
      Khinkali
          </span>
    <span class="tv-carousel-description"> 
      Khinkali are juicy Georgian dumplings packed with spiced meat, herbs, and rich broth.

</span>
        </div>



    </article>


    <!-- CARD 04 -->

    <article class="tv-carousel-card">

   

        <div class="tv-carousel-image">
          <img
            src="/img/food/4.png"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Satsivi
          </span>
  <span class="tv-carousel-description">  
       Satsivi is tender chicken in a rich, creamy walnut sauce, spiced with Georgian herbs.

  </span>
        </div>

    

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

 

        <div class="tv-carousel-image">
          <img
            src="/img/food/6.png"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
         Ojakhuri
          </span>

  <span class="tv-carousel-description">  
          Ojakhuri is a hearty Georgian dish of juicy pork, crispy potatoes, onions, and herbs.

            </span>

        </div>

     

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">



        <div class="tv-carousel-image">
          <img
            src="/img/food/7.png"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Lobio
          </span>
  <span class="tv-carousel-description">  
       Lobio is a comforting Georgian bean stew packed with herbs, spices, and rich earthy flavour.

  </span>
        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

  

        <div class="tv-carousel-image">
          <img
            src="/img/food/10.png"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Views · Nature · Walks
          </span>

       

        </div>

      </a>

    </article>

    


  </div>

</section>