<section class="tv-filter-section tv-food section-sm">

<div class="section-header section-header--image mb-md"><div class="section-header-content"><span class="text-label">Pick your Tbilisi</span><h2 class="title-lg">Eateries</h2><p class="text-md">Discover where to eat in Tbilisi, from traditional Georgian
cooking to contemporary restaurants, specialty coffee and natural wine.</p></div><div class="section-header-image"><img src="/img/food/pirosmani3.png" alt="" loading="lazy"></div></div>


  <!-- FILTERS -->

  <div class="tv-filters">

    <button
      class="tv-filter tv-filter-all active"
      type="button"
      data-filter="all">
      All
    </button>

    <button
      class="tv-filter tv-filter-georgian"
      type="button"
      data-filter="georgian">

<svg xmlns="http://www.w3.org/2000/svg" class="tv-filter-icon" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M640-320q50 0 85 35t35 85q0 50-35 85t-85 35q-38 0-68.5-22T528-160H274l-40 62q-9 14-25.5 17.5T178-86q-14-9-17.5-25.5T166-142l158-242q-72-33-118-101.5T160-640h560q0 86-46 154.5T556-384l23 36q-21 10-34.5 20T515-300l-40-62q-8 2-17 2h-36q-9 0-17-2l-79 122h202q13-36 43.5-58t68.5-22Zm28.5 148.5Q680-183 680-200t-11.5-28.5Q657-240 640-240t-28.5 11.5Q600-217 600-200t11.5 28.5Q623-160 640-160t28.5-11.5ZM440-440q60 0 109.5-33t74.5-87H256q26 54 75 87t109 33ZM336-680q5-29-1.5-49T307-775q-20-26-26.5-49.5T279-880h40q-5 29 1.5 48.5T348-786q21 26 27 49.5t1 56.5h-40Zm100 0q5-29-1-49t-27-46q-21-25-27.5-48.5T379-880h40q-5 29 1.5 48.5T448-786q20 25 26.5 48.5T476-680h-40Zm100 0q5-29-1-49t-27-46q-21-25-27.5-48.5T479-880h40q-5 29 1.5 48.5T548-786q20 25 26.5 48.5T576-680h-40Zm-96 240Z"/></svg>
 
  
  
   <span class="tv-filter-label">
    Traditional Georgian
  </span>
  
     
    </button>

    <button
      class="tv-filter tv-filter-contemporary"
      type="button"
      data-filter="contemporary">



<svg xmlns="http://www.w3.org/2000/svg" class="tv-filter-icon" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="m175-120-56-56 410-410q-18-42-5-95t57-95q53-53 118-62t106 32q41 41 32 106t-62 118q-42 44-95 57t-95-5l-50 50 304 304-56 56-304-302-304 302Zm118-342L173-582q-54-54-54-129t54-129l248 250-128 128Z"/></svg>
  
  
   <span class="tv-filter-label">
  Contemporary &amp; Fusion
  </span>
  


    
    </button>

    <button
      class="tv-filter tv-filter-coffee"
      type="button"
      data-filter="coffee">



<svg xmlns="http://www.w3.org/2000/svg" class="tv-filter-icon" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M160-120v-80h640v80H160Zm160-160q-66 0-113-47t-47-113v-400h640q33 0 56.5 23.5T880-760v120q0 33-23.5 56.5T800-560h-80v120q0 66-47 113t-113 47H320Zm0-80h240q33 0 56.5-23.5T640-440v-320H240v320q0 33 23.5 56.5T320-360Zm400-280h80v-120h-80v120ZM320-360h-80 400-320Z"/></svg>
   <span class="tv-filter-label">
  
      Cafes &amp; Specialty Coffee
  </span>
  




    </button>

    <button
      class="tv-filter tv-filter-wine"
      type="button"
      data-filter="wine">
<svg xmlns="http://www.w3.org/2000/svg" class="tv-filter-icon" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M240-120v-80h200v-200L120-760v-80h720v80L520-400v200h200v80H240Zm58-560h364l72-80H226l72 80Zm182 204 111-124H369l111 124Zm0 0Z"/></svg>
 

<span class="tv-filter-label">
  
       Natural Wine Bars &amp; Cellars
  </span>

     
    </button>

  </div>


  <!-- CARDS -->

  <div class="tv-food-grid">

    <div class="tv-grid">


      <!-- RADIO CAFÉ -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/radiocafe.jpg"
          alt="Radio Café in Tbilisi"
          loading="lazy">

        <div class="tv-badge tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Radio café</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/KxyAAZxfiXMumvTL7?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                29 Atoneli St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~10 min</span>

            </div>


         


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://radiocafe.ge/en?utm_source=google&utm_medium=GBP"
                target="_blank"
                rel="noopener noreferrer">
                Website
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- KHINKALI PUB -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/khinkalipub.jpg"
          alt="Khinkali Pub in Tbilisi"
          loading="lazy">

       <div class="tv-badge tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Kinkali pub</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/e3WV6qxG3F4Mheob7?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                1 Vakhtang Gorgasali Square
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Avlabari ~10–12 min</span>

            </div>


            


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.instagram.com/khinkali.pub?stkn=eDJraDJ4NTRzbmYx"
                target="_blank"
                rel="noopener noreferrer">
                Instagram
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- MAFSHALIA -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/mafshalia.jpg"
          alt="Mafshalia restaurant in Tbilisi"
          loading="lazy">

         <div class="tv-badge tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Mafshalia</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/e3WV6qxG3F4Mheob7"
                target="_blank"
                rel="noopener noreferrer">
                137 Davit Aghmashenebeli Ave
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Marjanishvili ~8–10 min</span>

            </div>


          

          </div>

        </div>

      </article>



      <!-- KHINKALI BAR N1 -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/khinkalibar1.jpg"
          alt="Kinkali Bar N1 in Tbilisi"
          loading="lazy">

         <div class=" tv-category tv-filter-georgian badge"></div>
        <div class="tv-square-card-content">

          <h3>Kinkali bar N1</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/o4JCQpaVFtvBBFke8"
                target="_blank"
                rel="noopener noreferrer">
                Orbeliani Square, 3 Pkhovi St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~8 min</span>

            </div>


           


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.instagram.com/khinkalibar_orbeliani?stkn=MTVkaml5em9kbnQ5eQ=="
                target="_blank"
                rel="noopener noreferrer">
                Instagram
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- ODE -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/ode.jpg"
          alt="Ode restaurant in Tbilisi"
          loading="lazy">

            <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Ode</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/Lh1JzbAPMXEi3EKq9"
                target="_blank"
                rel="noopener noreferrer">
                18 Atoneli St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~10 min</span>

            </div>


           

            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.instagram.com/ode.ca_fe?stkn=OWdjNmNjaWJpYXRm"
                target="_blank"
                rel="noopener noreferrer">
                Instagram
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- STUMARI -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/stumari.jpg"
          alt="Stumari Restaurant in Tbilisi"
          loading="lazy">

        <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Stumari Restaurant</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/cYQL3sdE4JtFnMZj8?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                9 Giorgi Chubinashvili St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Marjanishvili ~12–15 min</span>

            </div>


           


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://rezto.ge/reservation/stumari"
                target="_blank"
                rel="noopener noreferrer">
                Reservations
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- KHASH-KHASH -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/khash-khash.jpg"
          alt="Khash-khash restaurant in Tbilisi"
          loading="lazy">

         <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Khash-khash</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/hEJa46ExquzL8CwAA"
                target="_blank"
                rel="noopener noreferrer">
                33 Giorgi Mazniashvili St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Marjanishvili ~7–10 min</span>

            </div>


           

          </div>

        </div>

      </article>



      <!-- WASSERSTRASSE -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/wasserstrasse.jpg"
          alt="Wasserstrasse restaurant in Tbilisi"
          loading="lazy">

     <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Wasserstrasse</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/fXaKgULZAQrTWtRDA?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                5 Maxim Gorky St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Marjanishvili ~10 min</span>

            </div>


          

            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.wasserstrasse.ge/ka"
                target="_blank"
                rel="noopener noreferrer">
                Website
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- LIVIN & JAGANNATH -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/livin-jagannath.jpg"
          alt="Livin &amp; Jagannath Cafe in Tbilisi"
          loading="lazy">

           <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Livin &amp; Jagannath Cafe Tbilisi</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/VGFomCgyj5gveMVZ9?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                44 Samreklo St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Avlabari ~8–12 min</span>

            </div>


        


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.livincafetbilisi.com/"
                target="_blank"
                rel="noopener noreferrer">
                Website
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- MANANO FAMILY FOOD -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/manano-family-food.jpg"
          alt="Manano Family Food in Tbilisi"
          loading="lazy">

          <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Manano Family Food</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/VdKKU4guDBbrWSrS6?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                39 Pekini Ave
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Technical University ~10–12 min</span>

            </div>



          </div>

        </div>

      </article>



      <!-- TSIKVILI -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/tsiskvili-beer-square.jpg"
          alt="Tsiskvili Beer Square in Tbilisi"
          loading="lazy">

           <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Tsiskvili • Beer Square</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/49nUdSHQDoq1UmTW8"
                target="_blank"
                rel="noopener noreferrer">
                27 Alexander Kazbegi Ave
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Delisi ~10–15 min</span>

            </div>


            

            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://tsiskvili.ge/"
                target="_blank"
                rel="noopener noreferrer">
                Website
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- ODJALECHE -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/odjaleche-house.jpg"
          alt="Odjaleche House Restaurant in Tbilisi"
          loading="lazy">

        <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Odjaleche House Restaurant</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/MehxMq3pqKn4g2K88?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                23 Shota Rustaveli Ave
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Rustaveli ~5 min</span>

            </div>


           


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://odjaleche.ge/odjaleche-house/"
                target="_blank"
                rel="noopener noreferrer">
                Website
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- ELENESTAN -->

      <article
        class="tv-square-card"
        data-category="georgian">

        <img
          class="tv-square-image"
          src="/img/food/elenestan.jpg"
          alt="Elenestan restaurant in Tbilisi"
          loading="lazy">

        <div class="tv-category tv-filter-georgian badge"></div>

        <div class="tv-square-card-content">

          <h3>Elenestan</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/ik7Ho71o1oBJPsCH9?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                7 Giga Lortkifanidze St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~10 min</span>

            </div>


           

            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.instagram.com/elenestan.restaurant?stkn=NWNpbG1lMWE5Zmd4"
                target="_blank"
                rel="noopener noreferrer">
                Instagram
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- BALCONY NO12 -->

      <article
        class="tv-square-card"
        data-category="contemporary">

        <img
          class="tv-square-image"
          src="/img/food/balcony-no12.jpg"
          alt="BalconY no12 restaurant in Tbilisi"
          loading="lazy">

         <div class="tv-category tv-filter-contemorary badge"></div>

        <div class="tv-square-card-content">

          <h3>BalconY no12</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/4mjmoWgByyymL7wT7"
                target="_blank"
                rel="noopener noreferrer">
                12 Ioane Shavteli St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~10 min</span>

            </div>


        


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.facebook.com/share/19QCnTs5aC/"
                target="_blank"
                rel="noopener noreferrer">
                Facebook
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- BLUE FOX -->

      <article
        class="tv-square-card"
        data-category="contemporary">

        <img
          class="tv-square-image"
          src="/img/food/blue-fox.jpg"
          alt="Blue Fox Restaurant in Tbilisi"
          loading="lazy">

      <div class="tv-category tv-filter-contemorary badge"></div>

        <div class="tv-square-card-content">

          <h3>Blue Fox Restaurant</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/A7CHmr8h5BvhVgcW7"
                target="_blank"
                rel="noopener noreferrer">
                14 Ioane Shavteli St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~10 min</span>

            </div>


           
          </div>

        </div>

      </article>



      <!-- MOZAIKO -->

      <article
        class="tv-square-card"
        data-category="contemporary">

        <img
          class="tv-square-image"
          src="/img/food/mozaiko.jpg"
          alt="Mozaiko Restaurant in Tbilisi"
          loading="lazy">

       <div class="tv-category tv-filter-contemorary badge"></div>

        <div class="tv-square-card-content">

          <h3>Mozaiko Restaurant</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/Pqc4FJvJxtzs1czm6?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                17 Ioane Shavteli St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~10 min</span>

            </div>


           

            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://mozaiko.ge/"
                target="_blank"
                rel="noopener noreferrer">
                Website
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- TBILISIMO -->

      <article
        class="tv-square-card"
        data-category="contemporary">

        <img
          class="tv-square-image"
          src="/img/food/tbilisimo.jpg"
          alt="Tbilisimo restaurant in Tbilisi"
          loading="lazy">
  <div class="tv-category tv-filter-contemorary badge"></div>

        <div class="tv-square-card-content">

          <h3>Tbilisimo</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/7HJ4PxeGKrSXjcAh9?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                38 Vertskhli St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~8 min</span>

            </div>


           

          </div>

        </div>

      </article>



      <!-- AZARPHESHA -->

      <article
        class="tv-square-card"
        data-category="contemporary">

        <img
          class="tv-square-image"
          src="/img/food/azarphesha.jpg"
          alt="Azarphesha restaurant in Tbilisi"
          loading="lazy">

        <div class="tv-category tv-filter-contemorary badge"></div>

        <div class="tv-square-card-content">

          <h3>Azarphesha</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/kULDXHXK6eS8pATb7?g_st=ac"
                target="_blank"
                rel="noopener noreferrer">
                2 Pavle Ingorokva St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Liberty Square ~6 min</span>

            </div>


           


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.facebook.com/share/1JVvW99WEC/"
                target="_blank"
                rel="noopener noreferrer">
                Facebook
              </a>

            </div>

          </div>

        </div>

      </article>



      <!-- HONORÉ -->

      <article
        class="tv-square-card"
        data-category="contemporary">

        <img
          class="tv-square-image"
          src="/img/food/honore.jpg"
          alt="Honoré restaurant in Tbilisi"
          loading="lazy">
  <div class="tv-category tv-filter-contemorary badge"></div>

        <div class="tv-square-card-content">

          <h3>Honoré</h3>

          <div class="tv-info">

            <div class="tv-info-row tv-info-row--location">

              <img
                src="/icons/direction.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://maps.app.goo.gl/93omidSprGF6VGtB9"
                target="_blank"
                rel="noopener noreferrer">
                4 Constitution St
              </a>

            </div>


            <div class="tv-info-row tv-info-row--metro">

              <img
                src="/icons/metro.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <span>Marjanishvili ~9 min</span>

            </div>


           


            <div class="tv-info-row tv-info-row--site">

              <img
                src="/icons/site.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true">

              <a
                href="https://www.instagram.com/honore.tbilisi?stkn=MTRvamNoMmtia3RnOA=="
                target="_blank"
                rel="noopener noreferrer">
                Instagram
              </a>

            </div>

          </div>

        </div>

      </article>


    </div>

  </div>


  <!-- COUNT -->

  <div class="tv-filter-count">
    <strong>Showing 18 out of 18</strong> places
  </div>

</section>