<section 
  class="tv-moving-letter" 
  style="background-image:
    linear-gradient(rgba(152, 190, 200, 0.45), rgba(152, 190, 200, 0.45)),
    url('/img/us.png');">

  <div class="tv-moving-text">
    <p class="text-md">
     No Georgian. No Russian. No problem. <br> <br>

Just Georgia — in English.


Have something to add? Feel free to get in touch, ask a question, clarify a point, or share your own experience. We’d love to hear from you.
    </p>
 

 
 
 
  </div>

  <div class="tv-moving-animation">
    <h1 class="ml8">
      <span class="letters-container">
        <span class="letters letters-left">Hi</span>
        <span class="letters bang">!</span>
      </span>

      <span class="circle circle-white"></span>
      <span class="circle circle-dark"></span>

      <span class="circle circle-container">
        <span class="circle circle-dark-dashed"></span>
      </span>
    </h1>
  </div>



</section>


 