<!-- =========================================
     GOOD TO KNOW / CAROUSEL
========================================== -->


<section class="tv-horizontal-section">

  <div class="tv-section-header">
    <span class="text-label">TBILISI METRO</span>
    <h2>Stations</h2>
  </div>

  <div class="tv-horizontal-scroll">

    <div class="tv-horizontal-track">

      <article class="tv-scroll-card">
        <h3>Line 1 · North</h3>

        <div class="tv-scroll-card-items">
          <a href="#">Station Square 1</a>
          <a href="#">Marjanishvili</a>
          <a href="#">Rustaveli</a>
          <a href="#">Liberty Square</a>
        </div>
      </article>


      <article class="tv-scroll-card">
        <h3>Line 1 · Centre</h3>

        <div class="tv-scroll-card-items">
          <a href="#">Avlabari</a>
          <a href="#">300 Aragveli</a>
          <a href="#">Isani</a>
          <a href="#">Samgori</a>
        </div>
      </article>


      <article class="tv-scroll-card">
        <h3>Line 1 · East</h3>

        <div class="tv-scroll-card-items">
          <a href="#">Varketili</a>
        </div>
      </article>


      <article class="tv-scroll-card">
        <h3>Line 2 · North</h3>

        <div class="tv-scroll-card-items">
          <a href="#">Station Square 2</a>
          <a href="#">Tsereteli</a>
          <a href="#">Gotsiridze</a>
          <a href="#">Nadzaladevi</a>
        </div>
      </article>


      <article class="tv-scroll-card">
        <h3>Line 2 · Centre</h3>

        <div class="tv-scroll-card-items">
          <a href="#">Didube</a>
          <a href="#">Guramishvili</a>
          <a href="#">Grmaghele</a>
        </div>
      </article>


      <article class="tv-scroll-card">
        <h3>Line 2 · North</h3>

        <div class="tv-scroll-card-items">
          <a href="#">Gldani</a>
          <a href="#">Akhmeteli Theatre</a>
        </div>
      </article>

    </div>

  </div>

</section>

<div class=" carousel-narrow-header">
    
      <h2 class="title-md">Getting Around</h2>
    
    <p class="text-md">Find neighborhoods, experiences and places worth
      discovering during your stay.</p>
  </div>

   

 
<section class="tv-carousel-section">




  <div class="tv-carousel">

    <!-- CARD 01 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/getting-around/metro.jpg"
            alt="Abanotubani sulphur baths"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
          	Metro 
          </span>

   

        </div>

      </a>

    </article>


    <!-- CARD 02 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/getting-around/bus.jpg"
            alt="Sololaki architecture in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
         	Buses & Minibuses 
          </span>


   <span class="tv-carousel-description">
         	Buses & Minibuses hjsdf hsjkdfsdjkfh sjkdsf dkjhf khdhdhk 
          </span>

     

        </div>

      </a>

    </article>


    <!-- CARD 03 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/getting-around/taxi.jpg"
            alt="Fabrika Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
           	Taxis & Ride-Hailing (Bolt, Maxim)
          </span>

      

        </div>

      </a>

    </article>


    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
          src="/img/getting-around/walking.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
           Walking Routes & Accessibility
          </span>

       

        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/food/3.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
           	Arriving & Departing (TBS Airport transfers, train station)
          </span>

       

        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/food/3.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Views · Nature · Walks
          </span>

       

        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/food/3.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Views · Nature · Walks
          </span>

       

        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/food/3.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Views · Nature · Walks
          </span>

       

        </div>

      </a>

    </article>

  </div>

</section>

<div class="tv-narrow-carousel-intro">

  <p class="text-xxs">
    A few places, experiences and ideas worth adding
    to your Tbilisi stay.
  </p>

  <a href="#" class="tv-narrow-carousel-button">
    See all
    <span aria-hidden="true">↗</span>
  </a>

</div>