<!-- =========================================
     GOOD TO KNOW / CAROUSEL
========================================== -->
<div class=" carousel-narrow-header">
    
      <h2 class="title-md">Getting Around</h2>
    
    <p class="text-md">Find neighborhoods, experiences and places worth
      discovering during your stay.</p>
  </div>

   

 
<section class="tv-carousel-section">




  <div class="tv-carousel">

    <!-- CARD 01 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/getting-around/metro.jpg"
            alt="Abanotubani sulphur baths"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
          	Metro 
          </span>

   

        </div>

      </a>

    </article>


    <!-- CARD 02 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/getting-around/bus.jpg"
            alt="Sololaki architecture in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
         	Buses & Minibuses 
          </span>


   <span class="tv-carousel-description">
         	Buses & Minibuses hjsdf hsjkdfsdjkfh sjkdsf dkjhf khdhdhk 
          </span>

     

        </div>

      </a>

    </article>


    <!-- CARD 03 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/getting-around/taxi.jpg"
            alt="Fabrika Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
           	Taxis & Ride-Hailing (Bolt, Maxim)
          </span>

      

        </div>

      </a>

    </article>


    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
          src="/img/getting-around/walking.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
           Walking Routes & Accessibility
          </span>

       

        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/food/3.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
           	Arriving & Departing (TBS Airport transfers, train station)
          </span>

       

        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/food/3.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Views · Nature · Walks
          </span>

       

        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/food/3.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Views · Nature · Walks
          </span>

       

        </div>

      </a>

    </article>

    
    <!-- CARD 04 -->

    <article class="tv-carousel-card">

      <a href="#">

        <div class="tv-carousel-image">
          <img
            src="/img/food/3.jpg"
            alt="Mtatsminda in Tbilisi"
          >
        </div>

        <div class="tv-carousel-content">

          <span class="tv-carousel-category">
            Views · Nature · Walks
          </span>

       

        </div>

      </a>

    </article>

  </div>

</section>

  <p class="text-xxs tv-carousel-intro">
      A few places, experiences and ideas worth adding
      to your Tbilisi stay.
    </p>