{{ define "main" }}





<!-- =====================================
     HERO
===================================== -->

<section class="hero">

    <div class="hero-content">

        <span class="text-label">
           No Georgian.
No Russian.
No problem.
        </span>

        <h1 class="title-xl">
            Just Georgia<br>
            <em>in English</em>
        </h1>

        <p class="text-lg mt-md">
            Explore Tbilisi through its neighborhoods, food,
            culture, architecture, wine and unforgettable
            local experiences.
        </p>

    </div>





</section>

{{ partial "strips/strip--affiliations.html" . }}


{{ partial "intro.html" . }}





{{ partial "see-do.html" . }}



{{ partial "strips/strip--transport.html" . }}


<!-- =====================================
     FEATURE
===================================== -->
<section class="feature feature--carousel">

  <div class="feature-image">



    <img
      src="/img/maps/tbilisi.png"
      alt="Georgia travel"
    >

           <p class="text-sm mb-lg">
      Tbilisi is a city of contrasts — ancient and modern,
      relaxed and energetic, traditional and experimental.
      Take your time and discover it at your own pace.
    </p>

  </div>


  <div class="feature-content">

       <span class="text-label">
      The Tbilisi experience
    </span>

    <h2 class="title-md mb-lg">
      Come for the city.<br>
   
    </h2>





  

  </div>

</section>




{{ partial "carousels/tbilisi-gallery.html" . }}




{{ partial "carousels/food.html" . }}





{{ partial "strips/carousel-super-narrow--food.html" . }}

{{ partial "chillout.html" . }}



{{ partial "strips/strip--safety.html" . }}











{{ end }}
