

<section class="tv-filter-table">
   
  <div class="tv-region-index">



    <button class="tv-region-index-item active" data-region="adjara">
      <span class="tv-region-dot"></span>
      Adjara
    </button>

    <button class="tv-region-index-item" data-region="guria">
      <span class="tv-region-dot"></span>
      Guria
    </button>

    <button class="tv-region-index-item" data-region="imereti">
      <span class="tv-region-dot"></span>
      Imereti
    </button>

    <button class="tv-region-index-item" data-region="kakheti">
      <span class="tv-region-dot"></span>
      Kakheti
    </button>

    <button class="tv-region-index-item" data-region="kvemo-kartli">
      <span class="tv-region-dot"></span>
      Kvemo Kartli
    </button>

    <button class="tv-region-index-item" data-region="mtskheta-mtianeti">
      <span class="tv-region-dot"></span>
      Mtskheta-Mtianeti
    </button>

    <button class="tv-region-index-item" data-region="racha-lechkhumi-kvemo-svaneti">
      <span class="tv-region-dot"></span>
      Racha-Lechkhumi
    </button>

    <button class="tv-region-index-item" data-region="samegrelo-zemo-svaneti">
      <span class="tv-region-dot"></span>
      Samegrelo-Zemo Svaneti
    </button>

    <button class="tv-region-index-item" data-region="samtskhe-javakheti">
      <span class="tv-region-dot"></span>
      Samtskhe-Javakheti
    </button>

    <button class="tv-region-index-item" data-region="shida-kartli">
      <span class="tv-region-dot"></span>
      Shida Kartli
    </button>

    <button class="tv-region-index-item" data-region="tbilisi">
      <span class="tv-region-dot"></span>
      Tbilisi
    </button>

  </div>

</section>